
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-themes {
  width: 100%;
  display: inline-grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(4, max-content);
}

.App-themes a {
  cursor: pointer;
}

.App-themes a.active-theme {
  color: purple;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-btn {
  font-size: 12px;
  background-color: royalblue;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.App-body {
  padding: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
